<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS-->
        <link rel="stylesheet" href="{$basePath}/bootstrap/css/bootstrap.min.css">       
        <!-- Font Awesome-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <!-- custom-->
        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
        <link rel="stylesheet" href ="{$basePath}/css/eldensheet.css">


        <title>Jakub "Elden" Jandák</title>
    </head>
    <body>        
        <div class="container mt-5 mb-5">
            <div class="row">                
                <div class="col-sm-2"><img src = "{$basePath}/images/me_and_bird.jpg" class = "img-fluid rounded"></div>
                <div class="col-sm-5"><h1>Jakub Jandák</h1></div>
                <div class="col-sm-5">
                    <ul class = "text-right addreslist">
                        <li></span>Sadová 1034, Uherské Hradiště <i class="fas fa-map-marker-alt"></i></<li>
                        <li>+420 603 181 026 <i class="fas fa-phone"></i></li>
                        <li><a href = "mailto:jakub@elden.cz" title = "Mail to Jakub Jandak">jakub@elden.cz</a> <i class="fas fa-envelope"></i></li>
                        <li><a href = "https://www.linkedin.com/in/jakub-jandak/" target = "_blank" title = "Jakub Jandak linkedin">linkedin.com/in/jakub-jandak</a> <i class="fab fa-linkedin"></i></li>
                        <li><a href = "http://www.elden.cz" title = "Jakub Jandák">www.elden.cz</a> <i class="fas fa-globe"></i></li>
                        <li><a href = "https://github.com/elden43" title = "Jakub Jandák Github">github.com/elden43 </a> <i class="fab fa-github"></i></li>                        
                    </ul>    
                </div>    
            </div>
            <div class="row mt-3">                
                <div class="col-sm-12">
                    <h2>Jsem...</h2>
                </div>    
                <div class="col-sm-12 pl-5">    
                    ...nadšenec do webových technologií, programátor se zkušenostmi z korporátní sféry i s prací na vlastních indie projektech. Rád tvořím systémové věci a v kódu preferuji čistý a sebepopisný styl.<br />
                    Hledám kreativní a smysluplnou práci s možností seberealizace a růstu, ve které se něco nového naučím.<br />
                    Špatné odsazování kódu mě dohání k šílenství!
                </div>                
            </div>
            <div class="row mt-3">                
                <div class="col-sm-12">
                    <h2>Dovednosti</h2>
                </div>   
                <div class="col-sm-12">
                    <ul class = "bulletlist">
                        <li><strong class = "cvcolored">PHP 5/7</strong>, <strong class = "cvcolored">Nette</strong></li>
                        <li><strong class = "cvcolored">MySQL</strong>, Oracle PL/SQL, ORMs, <strong class = "cvcolored">Leanmapper</strong>, <strong class = "cvcolored">Dibi</strong></li>
                        <li><strong class = "cvcolored">Git</strong>, Github, Gitlab, CVS, Mercurial</li>
                        <li><strong class = "cvcolored">HTML/CSS</strong>, Less, Sass</li>
                        <li><strong class = "cvcolored">Bootstrap</strong>, <strong class = "cvcolored">jQuery</strong>, orientace v javascriptu</li>
                        <li>Delphi, různé reportovací nástroje</li>
                    </ul>                        
                </div>                
            </div>
            <div class="row mt-3">                
                <div class="col-sm-12">
                    <h2>Jazykové schopnosti</h2>
                </div>    
                <div class="col-sm-12">
                    <ul class = "bulletlist">
                        <li>Český jazyk – rodilý mluvčí</li>
                        <li>Anglický jazyk – znalost na úrovni profesní způsobilosti, vedení školení</li>
                        <li>Německý jazyk – základy</li>
                    </ul>                        
                </div>
            </div>
            <div class="row mt-3">      
                <div class="col-sm-12">
                    <h2>Pracovní zkušenosti</h2>                
                </div>                
                <div class="col-sm-12 pl-5">
                    <div class="row">      
                        <div class="col-sm-6"><strong>Software developer</strong> / <strong class = "cvcolored">DCIT a.s., Praha</strong></div>                
                        <div class="col-sm-6"><strong>2008 – 2019</strong></div>                
                        <div class="col-sm-12 pl-5">Vývoj databázového systému pro televizní (broadcasting) společnosti. Vývoj v Oracle PL/SQL, Delphi, Reporting studio, FastReports (v3). Vedení malého týmu, vedení školení u zákazníků z celé Evropy.</div>                
                    </div>
                </div>
                <div class="col-sm-12 pl-5 mt-2">
                    <div class="row">      
                        <div class="col-sm-6"><strong>Web Developer</strong> / <strong class = "cvcolored">Na volné noze</strong></div>                
                        <div class="col-sm-6"><strong>2004 – DOSUD</strong></div>                
                        <div class="col-sm-12 pl-5">Nepřetržitý vývoj webových aplikací v PHP, později v Nette Frameworku (Nette DB, LeanMapper, Dibi), vlastní vývoj custom eshop systémů. Využití Bootstrap, jQuery, DOM aj.</div>                
                    </div>
                </div> 
            </div>
            <div class="row mt-3">      
                <div class="col-sm-12">
                    <h2>Vzdělání</h2>                
                </div>               
                <div class="col-sm-12 pl-5">
                    <div class="row">      
                        <div class="col-sm-6"><strong>SPŠE Rožnov pod Radhoštěm</strong> / <strong class = "cvcolored">Elektronické počítače</strong></div>                
                        <div class="col-sm-6"><strong>1999 - 2003</strong></div> 
                    </div>    
                </div>        
                <div class="col-sm-12 pl-5">    
                    <div class="row">      
                        <div class="col-sm-6"><strong>SPUSA Praha</strong> / <strong class = "cvcolored">Studium anglického jazyka</strong></div>                
                        <div class="col-sm-6"><strong>2003 - 2004</strong></div> 
                    </div>
                </div>    
            </div>
            <div class="row mt-3">      
                <div class="col-sm-12">
                    <h2>Aktivity a zájmy</h2>
                </div>
                <div class="col-sm-12">
                    <ul class = "bulletlist">
                        <li>Vedení rolových her a organizační příprava nepočítačového festivalu GameCon (od roku 2005)</li>
                        <li>Dobrovolnická práce pro Gamecon z.s.</li>
                        <li>Magic: the Gathering</li>
                    </ul>
                </div>                
            </div>

            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
            <script src="{$basePath}/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>