body {
    font-family: 'Source Code Pro', monospace;
    color: #111111;
}
a {
    color: #111111;
}
a:hover{
    text-decoration: none;
}

i {
    color: #0077B5;
}
h1 {
    font-size: 4em;
}
.bulletlist {
    list-style: none;
}
.bulletlist li::before {
    content: "•"; 
    color: #0077B5;
    display: inline-block; width: 1em;
    margin-left: -1em;
}

.addreslist {
    list-style-type: none;
}
.cvcolored {
    color: #0077B5;
}

.cvcolored-btn {
    color: #0077B5;
    background-color: #fff;
    border-color: #0077B5;
    border: none;
    margin-right: 0px; 
}
